:root {
	--primary: #F8F8FC;
	--secondary: #0F63C9;
	--text-color: #F8F8FC;
}

[data-theme="dark"] {
	--primary: #242B40;
	--secondary: #464AA6;
	--text-color: #F8F8FC;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--primary); 
	font-family: 'Montserrat';
	color: var(--text-color);
	transition: All 0.5s ease;
	height: 100vh;
}

.wrapper {
	max-width: 1280px;
	display: flex;
	width: 100%;
	justify-content: center;
}

.minimized-logo {
	display: none;
}

header {
	height: 20vh;
	min-height: 120px;
	max-height: 250px;
	display: flex;
	justify-content: center;
}

header .wrapper {
	display: flex;
	align-items: center;
}

header .wrapper div {
	flex: 1;
}

header .wrapper .application__logo {
	margin-left: 55px;
}

header .wrapper .application__logo img {
	width: 30vw;
	max-width: 215px;
}

header .wrapper .application__logo img.minimized-logo {
	max-width: 120px;
}

header .wrapper .container {
	display: flex;
	justify-content: end;
}

header .wrapper .theme__switcher {
	display: flex;
	justify-content: end;
	margin-right: 120px;
	max-width: 50px;
}

header .wrapper .theme__switcher:hover {
	cursor: pointer;
}

header .wrapper .theme__switcher img {
	width: 35px;
	height: 35px;
}

main {
	background-color: var(--secondary);
	min-height: 500px;
	max-height: 50vh;
	width: 100vw;
	display: flex;
	justify-content: center;
}

main .wrapper .application__presentation {
	max-width: 482px;
	flex: 1;
	margin-left: 150px;
	display: flex;
	align-items: center;
	padding: 1.4px;
}

main .wrapper .application__presentation .container {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

main .wrapper .container .app-title {
	font-style: normal;
	font-weight: 700;
	font-size: 3.5rem;
	line-height: 4.5rem;
}

main .wrapper .container .subtext {
	font-style: normal;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 2rem;
}

main .wrapper .container .playstore__download {
	margin-left: -15px;
}

main .wrapper .container .playstore__download img {
	width: 218px;
	height: 80px;
}

main .wrapper .application__illustration {
	flex: 1;
	display: flex;
	justify-content: end;
	align-items: center;
}

main .wrapper .application__illustration img {
	margin-right: 150px;
	max-height: 80vh;
}

@media screen and (max-width: 1000px) {
	main .wrapper {
		flex-direction: column;
		justify-content: start;
		align-items: center;
		margin: 50px 20px 0 20px;
	}
	main .wrapper .application__presentation {
		margin-left: 0;
	}
	main .wrapper .application__illustration {
		justify-content: center;
	}
	main .wrapper .application__illustration img {
		margin-right: 0;
	}
}

@media screen and (max-width: 700px) {
	.logo-full {
		display: none;
	}
	.minimized-logo {
		display: block;
	}
	header .wrapper .application__logo {
		margin-left: 0;
	}
	header .wrapper .theme__switcher {
		margin-right: 20px;
	}
}
